* text=auto

.dockerignore text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.svelte text eol=lf
*.ts text eol=lf
*.txt text eol=lf
*.env.example text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.sh text eol=lf
Dockerfile text eol=lf
*.template text eol=lf

*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
